#root {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: #222226;
	color: #fff;
}

.App,
.AppClass {
	width: 60vw;
}

.Sample {
	&_image {
		width: 100%;
	}
}
